<ion-view view-title="MoocMates">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="card" ng-show="auth">
          <div class="item item-text-wrap">
            Welcome to MoocMates, {{ username }}
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is going to be some MOOCable news from the Mates.
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
